mixin question(q, a)
  li.list-accordeon__item
    input(type="checkbox" checked)
    button.list-accordeon__btn.btn-accordeon
      svg
        use(xlink:href="img/design/sprite.svg#icon-arrow-down-s")
    strong= q
    p.p.p--answer= a

mixin post(subject, author, date, ...text)
  h5.section__subject.header-subject= subject
  h6.section__caption.header-caption-alt= author
  .section__text.section__text--l
    each p in text
      p.p.p--common-alt= p
  .section__contacts
    a.link-common(href="#") 
      strong= date
    +social

mixin mainnav(navclass, navid)
  ul(id=navid class='list-h '+navclass)
    li.list-h__item
      a.link-nav(href="index.html") home
    li.list-h__item
      a.link-nav(href="#about"  onclick="smoothScroll('about')") about
    li.list-h__item
      a.link-nav(href="#speakers" onclick="smoothScroll('speakers')") speakers
    li.list-h__item
      a.link-nav(href="#shedule" onclick="smoothScroll('shedule')") program
    li.list-h__item
      a.link-nav(href="#blog" onclick="smoothScroll('blog')") blog
    li.list-h__item
      a.link-nav(href="#sponsors" onclick="smoothScroll('sponsors')") sponsor
    li.list-h__item
      a.link-nav(href="#contact" onclick="smoothScroll('contact')") contact

mixin plan(name, price, type, ...features)
  div(class='plan plan--'+type)
    strong(class="plan__name-"+type)= name 
    strong(class="plan__price-"+type)= price
      sup 
        span .00
        |  $
    each feature in features
      p(class="plan__feature plan__feature--"+type)
        svg
          use(xlink:href="img/design/sprite.svg#icon-check")
        span= feature
          
mixin social
  ul.section__social.list-h
    li.list-h__item-social
      button.btn-social
        svg
          use(xlink:href="img/design/sprite.svg#icon-fb-s")
    li.list-h__item-social
      button.btn-social
        svg
          use(xlink:href="img/design/sprite.svg#icon-twitter-s")
    li.list-h__item-social
      button.btn-social
        svg
          use(xlink:href="img/design/sprite.svg#icon-gplus-s")
    li.list-h__item
      button.btn-social
        svg
          use(xlink:href="img/design/sprite.svg#icon-linkedin-s")

mixin sponsor(img, type)
  .col-20
    .label-sponsor
      .label-sponsor__logo
        img(src="img/content/sponsor-"+img+".svg")
      .label-sponsor__title
        .label-sponsor__text
          strong= type
          span sponsor

mixin speaker(name, role, ename, edomain, ...bio)
  h5.section__subject.header-subject= name  
  h6.section__caption.header-caption-alt= role
  .section__text.section__text--l
    each p in bio
      p.p.p--common-alt= p
  .section__contacts
    a.link-common(href="mailto:#") 
      strong= ename
      | #{edomain}
    +social

mixin timer-piece(id, caption)
  li.list-h__item-timer
    .label-timer-piece
      .label-timer-piece__text
        strong(id=id)
        span= caption
